.Rproj.user
.Rhistory
.RData
.Ruserdata
slides/slideeg.Rmd
slides/flipbookeg.html
flipbookeg_files
libs
slides/flipbookeg_files
slides/flipbookeg.html
slides/flipbookeg.Rmd
slides/slideeg.Rmd
slides/slides_files
slides_files